@import "tailwindcss";

@keyframes pulse-slow {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.4; }
  }
  
  .animate-pulse-slow {
    animation: pulse-slow 3s ease-in-out infinite; /* 3초 주기로 천천히 */
  }
  